.place__title {
    margin: 0;
    padding-left: 3px;
    padding-right: 3%;
    max-width: 460px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFF;
    text-align: left;
}

.place__title::first-letter {
    text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
    .place__title {
        max-width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        max-width: 340px;
        padding-left: 0;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto;
        margin-left: 17px;
    }
}