.photo-grid {
    box-sizing: border-box;
    display: grid;
    margin: 0 48px 92px;
    padding: 0;
    max-width: 1184px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 16px 16px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: 928px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 14px 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: 720px;
        margin: 0 auto 88px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 16px 16px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        max-width: 288px;
        margin: 0 auto 64px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 12px;
    }
}