.places {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 92px;
    /* margin-left: 147px; */
    padding: 0;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 928px;
        padding: 0;
        margin-left: 47px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        max-width: 720px;
        margin: 0 24px 88px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        max-width: 320px;
        padding: 0;
        margin: 0 auto 62px;
    }
}