.place__image {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    grid-row: 2 / 3;
    width: 100%;
    height: fit-content;
    object-fit: content;
}

@media screen and (max-width: 768px) {
    .place__image {
        /* height: fit-content; */
       }
}


@media screen and (max-width: 497px) {
    .place__image {
        height: fit-content;
        grid-row: 3/4;
    }
}