.lead {
    box-sizing: content-box;
    position: relative;
    max-width: 984px;
    padding: 0;
    margin: 0 148px 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        margin: 0 48px 92px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 768px;
        margin: 0 0 88px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        max-width: 320px;
        margin-bottom: 64px;
    }
}