.footer__link {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-right: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__link:last-of-type {
    margin: 0;
}

@media screen and (max-width: 320px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin: 0 0 32px;
    }
}