.footer__copyright {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #FFF;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

@media screen and (max-width: 640px) {
    .footer__copyright {
        font-size: 10px;
        line-height: 12px;
    }
}

@media screen and (max-width: 497px) {
    .footer__copyright {
        font-size: 12px;
        line-height: 14px;
    }
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 14px;
    }
}