.lead__image {

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    overflow: hidden;
    /* min-height: 615px; */
    /* background-image: url("../../../images/lead-polka.jpg"); */
    /* background-size: cover;
    background-repeat: no-repeat; */
    padding: 0;
    padding: 0;
    margin: 0 auto 8px;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        min-height: 580px;
    }
}

@media screen and (max-width: 848px) {
    .lead__image {
        min-height: 530px;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        min-height: 480px;
    }
}

@media screen and (max-width: 676px) {
    .lead__image {
        min-height: 350px;
    }
}

@media screen and (max-width: 320px) {
    .lead__image {
        min-height: 200px;
        margin-right: 0px;
        object-fit: cover;
    }
}