.intro__text {
    padding: 0;
    margin: 0 auto 32px;
    width: 100%;
    /* max-width: 690px; */
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63em;
    color: #FFF;
}

@media screen and (max-width: 768px) {
    .intro__text {
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .intro__text {
        max-width: 288px;
        margin-bottom: 33px;
    }
}