.intro {
    box-sizing: border-box;
    padding: 0;
    padding-left: 1px;
    max-width: 690px;
    margin: 0 auto 92px;
    margin-left: 147px;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin-left: 47px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 720px;
        margin: 0 auto 88px;
        margin-left: 23px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 288px;
        margin: 0 auto 64px;
        margin-left: 15px;
    }
}