.lead__subtitle {
    padding: 0;
    margin: 0 auto 64px;
    max-width: 640px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFF;
}

.lead__subtitle:first-letter {
    text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin: 0 auto 56px;
    }
}


@media screen and (max-width: 768px) {
    .lead__subtitle {
        margin: 0 auto 56px;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        max-width: 288px;
        margin: 0 auto 39px;
        font-size: 16px;
        line-height: 20px;
    }
}