.cover {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto 92px;
    max-width: 1184px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
        min-height: 480px;
        margin: 0 1px 89px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        max-width: 320px;
        min-height: 200px;
        margin: 0 1px 64px;
    }
}