.cover__background {
    box-sizing: border-box;
    max-width: 1184px;
    min-height: 740px;
    background-image: url("../../../images/cover-trains.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    z-index: 0;
}

.cover__background::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #2A2C2F;
    opacity: .3;
    z-index: -1;
    transition: opacity .3s ease;
}

.cover__background:hover::before {
    opacity: .8;
}

@media screen and (max-width: 1024px) {
    .cover__background {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__background {
        background-size: cover;
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 506px) {
    .cover__background {
        max-width: 505px;
        min-height: 400px;
    }
}

@media screen and (max-width: 320px) {
    .cover__background {
        max-width: 320px;
        min-height: 200px;
    }
}