.navigation {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    /* align-items: flex-end; */
    list-style-type: none;
    text-decoration: none;
    gap: 19px;
}

@media screen and (max-width: 320px) {
    .navigation {
        display: flex;
        flex-direction: column;
        gap: 31px;
    }
}