.navigation {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    text-decoration: none;
    gap: 19px;
}

@media screen and (max-width: 497px) {
    .navigation {
        flex-direction: column;
        gap: 25px;
    }
}

@media screen and (max-width: 320px) {
    .navigation {
        margin-left: 2px;
        justify-content: space-between;
        align-items: flex-start;
        gap: 31.5px;
    }
}