.cover__title {
    padding: 0;
    margin: 245px auto 32px;
    max-width: 560px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFF;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        margin: 195px auto 32px;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        margin: 115px auto 32px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin: 33px auto 16px;
        margin-left: 13px;
        text-align: center;
    }
}