.place {
    box-sizing: border-box;
    max-width: 984px;
    /* min-height: 660px; */
    padding: 0;
    margin: 0 0 80px;
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-rows: max-content max-content;
    gap: 48px 40px;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        max-width: 928px;
        /* min-height: 640px; */
        gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        max-width: 720px;
        /* min-height: 581px; */
        margin-bottom: 73px;
        gap: 48px 28px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        max-width: 320px;
        /* min-height: 1042px; */
        margin-bottom: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        row-gap: 32px;
    }
}