footer {
    /* position: relative; */
    box-sizing: border-box;
    padding: 0;
    margin: 0 48px 24px;
    max-width: 1183px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
        margin: 0 24px 24px;
    }
}

@media screen and (max-width: 640px) {
    .footer {
        max-width: 480px;
        justify-content: center;
        margin: 0 auto 24px;
    }
}

@media screen and (max-width: 497px) {
    .footer {
        max-width: 250px;
        min-height: 320px;
        margin-left: 16px;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        justify-content: space-between;
        max-width: 186px;
        min-height: 310px;
        margin: 0 118px 24px 14px;
    }
}