.place__url-heading {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAA;
    padding: 0;
    /* margin: 0 0 9px; */
    text-transform: uppercase;
}

@media screen and (max-width: 320px) {
    .place__url-heading {
        max-width: 200px;
        margin: 0 0 5px;
    }
}