.place__website {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 456px;
}

@media screen and (max-width: 976px) {
    .place__website {
        max-width: 430px;
    }
}

@media screen and (max-width: 768px) {
    .place__website {
        max-width: 352px;
    }
}

@media screen and (max-width: 592px) {
    .place__website {
        max-width: 200px;
    }
}

@media screen and (max-width: 497px) {
    .place__website {
        max-width: 300px;
        margin: 0 16px;
        grid-row: 2/3;
        align-items: flex-start;
    }
}

@media screen and (max-width: 320px) {
    .place__website {
        max-width: 288px;
        /* margin: 0 16px; */
        /* grid-row: 2/3; */
        align-items: flex-start;
    }
}