.intro__title {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    max-width: 690px;
    /* min-height: 58px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: white;
}

@media screen and (max-width: 768px) {
    .intro__title {
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .intro__title {
        max-width: 288px;
        min-height: 70px;
        font-size: 32px;
        line-height: 35px;
    }
}